/* Smartphones */
@media only screen and (min-width : 320px) and (max-width : 480px) {
}

/* Desktop */
@media only screen and (max-width : 1440px) {
  }

body {

  place-content: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  padding: 0.625rem;
}

h1 {
font-family: Fraunces;
font-weight: 700;
color: hsl(212, 21%, 14%);
font-size: 2.19rem;
line-height: 2rem;
width: auto;
}

img {
max-width: 100%;
object-fit: cover;
height: 100%;
border-radius: 0.625rem 0.625rem 0 0;
}

.card_Global { 
  display: grid;
  background-color: hsl(0, 0%, 100%);
  border-radius:0.625rem;
  font-family: Montserrat;
  font-size: 0.87rem;
  color: hsl(228, 12%, 48%);
  width: auto;
}

.title {
  letter-spacing:0.25rem;
  margin: 0rem;
}

.paragraph {
  line-height: 1.44rem;
  width: auto;
  margin: 0rem;
  padding: 0rem;

}

.image {
width: 100%
flex: 1 0 50%;
}

.card_content {
margin: 1.5rem;
flex: 1 0 50%;
}

.price_container {
  display: flex;
  font-family: Fraunces;
  color: hsl(158, 36%, 37%);
  font-size: 2.19rem;
  font-weight: 700;
  margin: 1.25rem 0 1.25rem 0;
}

.price2 {
  margin-left: 1.25rem;
  color: hsl(228, 12%, 48%);
  font-size: 1.125rem;
  font-weight: 200;
  padding-top: 0.625rem ;
  text-decoration: line-through;
}

.icon_cart {
  padding-right: 0.31rem;
}

.btn_container{
  display: flex;
}

.btn {
  border-radius: 0.625rem;
  border: none;
  color: white;
  background-color: hsl(158, 36%, 37%);
  padding: 0.94rem 3.87rem;
  font-size: 0.94rem;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  margin:0 auto;
}


.attribution {
  text-align: center;
  margin-top: 1.25rem;
}
